.container {
    border: 1px solid #ccc;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    min-height: 70vh;
    max-height: 70vh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin: 20px auto;
    overflow-y: auto;
    position: relative;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardItem {
    position: relative; /* Essential for positioning the buttons relative to each card */
    /* Add any additional styling here */
}

/* Initially hide buttons and position them */
.cardButtons .minus,
.cardButtons .plus {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 5px;
    margin: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    opacity: 0; /* Updated for visibility */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 999;
    width: 30px;
    height: 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex; /* Added for centering text */
    align-items: center; /* Added for vertical centering */
    justify-content: center; /* Added for horizontal centering */
    font-size: 20px; /* Optional: Adjust as needed for visibility */
    font-weight: bolder;
}

.cardButtons .minus {
    left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.cardButtons .plus {
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}


/* Show buttons when the cardItem is hovered */
.cardItem:hover .cardButtons .minus,
.cardItem:hover .cardButtons .plus {
    opacity: 1;
    transform: translateY(-50%) scale(1); /* Return to normal size */
}

/* Further scale buttons when individually hovered */
.cardButtons .minus:hover,
.cardButtons .plus:hover {
    transform: translateY(-50%) scale(1.3);
}
