.viewPanel {
    flex: 0 0 50%;
    padding: 20px;
}

.cardHeader{
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y)); */
}

.card-count {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    /* Add more styling as required */
}
