.viewPanel {
    flex: 0 0 50%;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 10px;

}

.cardHeader{
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y)); */
}

.card-count {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    /* Add more styling as required */
}

.checkboxContainer {
    display: flex;
    align-items: center; /* Ensure vertical center alignment with buttons */
}

.checkboxes {
    display: flex;
    align-items: center; /* Vertically center the items */
    gap: 10px; /* Maintain a gap between checkboxes */
}

