/* dark-theme.css */
.dark-theme .content {
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
}

.dark-theme .navbar {
    background-color: #333;
    color: white; 
  }
  
.dark-theme .card {
  background-color: #333;
  color: white; 
}